# 忽略特定的文件夹（将 folder_name 替换为你实际的文件夹名）
# 结尾的 / 确保忽略的是整个目录及其内容
知识库/
/网申.txt

# 忽略根目录下所有的 .html 文件
/*.html
/*.txt
*.class
target/
*.jar


# 忽略根目录下所有的 .pdf 文件
/*.pdf

# 注意：
# 如果你想忽略“所有文件夹下”的 html/pdf，去掉前面的斜杠即可：
# *.html
# *.pdf